{{> header }}
{{> navbar }}



<div class="row">
  <div class="col-8" >
    <h1> Heisa </h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore ad mollitia, assumenda optio inventore minima consequatur quia. Ipsa dolorum aspernatur, deleniti fugiat earum animi ipsam temporibus unde aliquam ducimus cupiditate?</p>
  </div>
  <div class="col-4" >
    <img src="/assets/img/japanese-woman-37047_960_720.png" class="img-thumbnail">
    
  </div>
</div>

{{> footer }}